## Hidden Files ##
##################
.*

## Built Files ###
##################
bin/

### Documents ####
##################
docs/

## Test Harness ##
##################
test/
train/

### Exceptions ###
##################
!.gitignore
!docs/results.tex
